*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.clear{
  background-color: green;
}
button{
  height: 70px;
  width: 80px;
  /* background-color: rgba(0, 0, 0, 0.791); */
  background-color: rgba(90,110,107,0.27);
  /* color: #fff; */
  font-size: 25px;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.792);
  color: #fff;
}
.space{
  height: 100px;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.791);
  color: #fff;
}
.space p{
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
}